// variable

$bg-color : #fdfdfd;
$bg-gradient : linear-gradient(#EB455F, #7C0417);
$primary-color : #EB455F;
$sc-color : #FCFFE7;
$dark-color : #2B3467;
$blue-color : #BAD7E9;

$fs-5 : 42px;
$fs-4 : 32px;
$fs-3 : 24px;
$fs-2 : 18px;
$fs-1 : 14px;

$fw-extra : 700;
$fw-semibold : 600;
$fw-md : 500;
$fw-reguler : 400;
$fw-extra-light : 300;


@mixin d-flex($align: center, $justify: center, $direct :row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direct;
}

@mixin btn-rounded ($radius :0, $type: solid, $color: #ddd, $width: 0, $height: 0, $bg: #ddd) {
    .btn-rounded {
        outline: none;
        border: 1px $type $color;
        border-radius: $radius;
        background-color: $bg;
        width: $width;
        height: $height;
        @include d-flex();
    }
}

@mixin btn($radius :0, $type: solid, $color: #ddd, $width: 0, $height: 0, $bg: #ddd) {
    outline: none;
    border: 1px $type $color;
    background-color: $bg;
    width: $width;
    height: $height;
    @include d-flex();
}

// root
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}

// class component
.container-fluid {
    width: 90%;
    height: 100%;
    margin: auto;
}

.container-md {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container-sm {
    width: 60%;
    height: 100%;
    margin: auto;
}

.mt-5 {
    margin-top: 50px;
}


// styling Auth
.wrapper {
    width: 100%;

    .container-sm {
        height: 100%;
        padding: 60px 0px;
        @include d-flex();

        .form-auth {
            width: 60%;
            height: 100%;
            @include d-flex(center, center, column);

            &.login {
                margin-top: 50px;
            }

            .form-head {
                width: 100%;

                img {
                    margin-top: 10px;
                    width: 180px;
                }

                p {
                    font-size: $fs-1;
                    line-height: 24px;
                    text-align: justify;
                }

                h2 {
                    font-size: $fs-5;
                    color: $primary-color;
                }
            }

            .form-input {
                width: 100%;
                margin-top: 20px;
                @include d-flex($direct : column);
                gap: 20;

                .form-input_group {
                    position: relative;
                    width: 100%;

                    input {
                        width: 91%;
                        height: 48px;
                        padding: 0 20px;
                        border: 2px solid #ddd;
                        background-color: transparent;
                        border-radius: 18px;
                        outline: none;
                        margin-bottom: 10px;
                        margin-top: 10px;

                        &:valid~span,
                        &:focus~span {
                            z-index: 1;
                            margin-left: 16px;
                            background-color: $bg-color;
                            padding: 0px 10px;
                            margin-top: -24px;
                            color: $primary-color;
                        }

                        &:valid,
                        &:focus {
                            border: 2px solid $primary-color;
                        }
                    }

                    span {
                        position: absolute;
                        left: 20px;
                        z-index: -1;
                        top: 27px;
                        color: #999;
                        font-size: 13px;
                        font-weight: $fw-md;
                        transition: 0.2s ease all;
                        -moz-transition: 0.2s ease all;
                        -webkit-transition: 0.2s ease all;
                    }

                }
            }

            .form-foot {
                width: 100%;
                @include d-flex(center, center, column);

                .forgot-pw {
                    width: 100%;
                    text-align: right;
                    color: $primary-color;
                    font-size: $fs-1;
                    margin-top: 14px;
                    margin-bottom: 14px;
                }

                button {
                    width: 100%;
                    margin-top: 14px;
                    background-color: $primary-color;
                    padding: 14px;
                    font-size: $fs-1;
                    font-weight: $fw-semibold;
                    border: none;
                    cursor: pointer;
                    transition: all ease .4s;
                    color: #fff;
                    border-radius: 18px;

                    &:hover {
                        background-color: #da3b53;
                    }
                }

                span {
                    margin-top: 24px;
                    font-size: $fs-1;

                    a {
                        color: $primary-color;
                    }
                }
            }

        }
    }

}

// styling home

header {
    width: 100%;

    .navbar-top {
        width: 100%;
        height: 120px;

        @include d-flex(center, space-between);

        .navbar-logo {
            img {
                width: 146px;
            }
        }

        .navbar-menu {
            @include d-flex(center, center);

            .nav-link {
                margin-right: 40px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    font-size: $fs-1;
                    color: #444;
                    transition: all ease .2s;

                    &:hover {
                        color: $primary-color;
                    }

                    &.active {
                        color: $primary-color;
                    }
                }

            }
        }

        .nav-icon {
            @include d-flex();


            .nav-link {
                width: 42px;
                height: 42px;
                background-color: #da3b5310;
                @include d-flex();
                border-radius: 12px;
                cursor: pointer;
                transition: all ease .2s;

                &:hover {
                    background-color: #da3b5340;
                }

                &:nth-child(1) {
                    margin-right: 20px;
                }

                a {
                    color: $primary-color;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &.header2 {
        .navbar-2 {
            width: 100%;
            height: 120px;
            @include d-flex($justify : space-between);

            a {
                text-decoration: none;
            }

            ._Btn {
                width: 42px;
                height: 42px;
                background-color: #da3b5310;
                color: $primary-color;
                border-radius: 12px;
                cursor: pointer;
                @include d-flex();
                transition: all ease .4s;

                &:hover {
                    background-color: #da3b5340;
                }

                i {
                    font-size: 18px;
                }
            }

            span {
                font-size: 24px;
                font-weight: $fw-semibold;
                color: $primary-color;
            }
        }
    }

}

main {
    margin-top: 50px;
    margin-bottom: 50px;

    .form-pengaduan {
        .form-pengaduan_header {

            h4 {
                font-size: 24px;
                color: $primary-color;
            }

            p {
                font-size: $fs-1;
                color: #444;
                margin-top: 10px;
            }
        }

        form {
            margin-top: 40px;

            .input-pengaduan-group {
                width: 100%;
                height: 48px;
                background-color: #eaeaea60;
                border: 1px solid #ddd;
                margin-bottom: 20px;
                position: relative;
                @include d-flex();

                input {
                    width: 96%;
                    background-color: transparent;
                    height: 100%;
                    border: none;
                    outline: none;

                }

                &.btn {
                    background-color: $primary-color;

                    input {
                        color: #fff;
                        cursor: pointer;
                    }
                }

                &.text-area {
                    height: 90px;
                }

                textarea {
                    width: 96% ;
                    height: 72% ;
                    resize: none;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    padding: 0px ;
                }

                &._date {
                    label {
                        @include d-flex($justify : space-between);
                        width: 100%;

                        span {
                            margin-left: 20px;
                            font-size: 13px;
                            opacity: .6;
                        }

                        i {
                            margin-right: 20px;
                            font-size: 18px;
                            color: #444;
                        }
                    }
                }
            }
        }
    }
}

// 
.alert-cstm{
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    justify-content: center;

    .alert-bx{
        
        display: none;

        &.alert_success{
            background-color: #45eb4520;
            width: 32%;
            padding: 16px 24px;
            align-items: center;
            justify-content: space-between;
            .alert_close{
                background-color: #45eb45;
                color: #fff;
            }
        }
        
        &.alert_danger{
            background-color: #EB455F20;
            width: 32%;
            padding: 16px 24px;
            align-items: center;
            justify-content: space-between;
            .alert_close{
                background-color: #EB455F;
                color: #fff;
            }
        }

        &.show{
            display: flex;
        }

        .alert-msg{
            font-size: 14px;
        }
        .alert_close{
            cursor: pointer;
            @include d-flex();
            width: 32px;
            height: 32px;
            i{
                font-size: 24px;
                transform: rotate(45deg);

            }

        }
    }

}


section.main-berita {
    margin-top: 40px;
    margin-bottom: 50px;

    .row-berita {
        @include d-flex($justify : space-between);
        flex-wrap: wrap;

        .card-berita {
            width: 320px;
            margin-bottom: 40px;

            .card-img {
                width: 100%;
                height: 180px;
                background-color: #eaeaea;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-body {
                padding: 14px 18px;

                .card-date {
                    font-size: 12px;
                    color: #44444480;
                    margin-bottom: 10px;
                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: $fw-semibold;
                    color: #444;
                    transition: all ease .4s;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .card-slug {
                    margin-top: 10px;
                    line-height: 20px;
                    font-size: 12px;
                    text-align: justify;
                }
            }
        }

    }

    .detail_berita {
        .img-bx {
            width: 100%;
            height: 360px;
            background-color: #eaeaea;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .detail-body {
            margin-top: 40px;
            padding: 0px 40px;
            text-align: justify;

            .detail-date {
                font-size: $fs-1;
                opacity: .6;
                margin-bottom: 20px;
            }

            .detail-title {
                font-size: 24px;
                font-weight: $fw-semibold;
                color: #444;

            }

            .detail-paragraf {
                margin-top: 20px;
                color: #444;

                p {
                    margin-bottom: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}
.detail_pengaduan{
    margin: 50px 0px;
    .img-bx{
        margin: 50px 0px;
        width: 100%;
        height: 100%;
        background-color: #ddd;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
.detail-bx{
    display: flex;
    // background-color: salmon;

    .detail-body{
        width: 60%;
        .detail-date{
            font-size: 14px;
            padding: 10px 0px;
        }
        .detail-title{
            margin-bottom: 20px;
        }
        .detail-paragraf{
            width: 92%;
            p{
                word-wrap: break-word;
                font-size: 14px;
                font-weight: $fw-reguler;
                line-height: 24px;
                text-align: justify;
                color: #666;
            }
        }
    }
    .tanggapan-bx{
        width: 40%;
        padding: 28px;
        border: 1px solid #ddd;
        h3{
            font-size: 14px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            text-align: justify;
            line-height: 24px;
            color: #666;
            margin-bottom: 20px;
        }
        span{
            font-size: 14px;
            color: #444;
        }
    }
}


// Feef Style

section.feed-container{
    .container-md{
        width:40%;
        height: 100%;

        .card-feed{
            // background-color: 
            margin-bottom: 40px;

            .card-header{
                width: 100%;
                height: 64px;
                padding: 10px 0px;
                @include d-flex( $justify:space-between);
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;

                .date{
                    font-size: 12px;
                    font-weight: $fw-md;
                    opacity: .6;
                }
                .profil{
                    @include d-flex( $justify:none);

                    img{
                        width: 42px;
                        height: 42px;
                        object-fit: cover;
                        border-radius: 50%;
                        background-color: #ddd;
                        border: 1px solid $primary-color;
                        margin-right: 10px;
                    }

                    .profil_info{
                        margin-top: -2px;
                        color: #444;
                        span{
                            font-size: 12px;
                            opacity: .6;
                        }
                        h4{
                            font-size: 16px;
                        }
                    }
                }
            }

            .feed-img{
                margin-bottom: 20px;
                width: 100%;
                height: 360px;
                background-color: #eaeaea;
                @include d-flex();
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .feed-body{
                font-size: 14px;
                line-height: 20px;
                width: 100%;
                margin:20px  auto;
                padding-bottom: 20px;
                text-align: justify;
                border-bottom: 1px solid #ddd;

            }

            .feed-tanggapan{
                width: 100%;
                margin:20px  auto;

                span{
                    font-size: 14px;
                    b{
                        margin-right: 10px;
                    }
                }
                .tanggapan-value{
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: justify;
                }

            }
        }

    }
}




section.profil-saya {
    .container-md {
        @include d-flex($direct : column);

        .profil-detail {
            width: 400px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            padding: 10px 30px;

            .img-profil {
                width: 140px;
                background-color: #eaeaea;
                height: 140px;
                border-radius: 24px;
                @include d-flex();

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .profil-detail_txt {
                margin-right: 18px;

                ._top {
                    span {
                        opacity: .6;
                    }

                    h3 {
                        font-size: 22px;
                        margin-top: 4px;
                        color: #444;
                    }
                }

                ._bottom {
                    margin-top: 20px;
                    @include d-flex($justify : none);
                    color: $primary-color;

                    .count {
                        font-size: 16px;
                        margin-right: 10px;
                        font-weight: $fw-semibold;
                    }

                    ._info {
                        color: #444;
                    }
                }
            }

        }

        .profil-nav {
            width: 100%;
            margin-top: 50px;

            ul {

                .profil-link {
                    @include d-flex($justify : space-between);
                    width: 100%;
                    height: 54px;
                    text-decoration: none;
                    border-top: 1px solid #ddd;
                    color: #444;
                    transition: all ease .4s;

                    &:nth-child(3) {
                        border-bottom: 1px solid #ddd;
                    }

                    &:hover {
                        color: $primary-color;
                    }

                    span {
                        margin-left: 24px;
                    }

                    i {
                        width: 42px;
                        margin-right: 10px;
                        @include d-flex();
                        height: 100%;
                        font-size: 24px;
                    }
                }
            }

        }

        .btn_logout {
            margin-top: 40px;
            margin-bottom: 40px;
            width: 100%;
            @include d-flex();

            button {
                outline: none;
                border: none;
                padding: 14px 24px;
                border-radius: 10px;
                font-weight: $fw-semibold;
                color: #fff;
                cursor: pointer;
                transition: all ease .4s;

                &:hover {
                    opacity: .6;
                }

                background-color: $primary-color;
            }
        }
    }
}

section.dataDiri {
    margin-top: 40px;
    margin-bottom: 40px;

    .container-md {
        @include d-flex($direct : column);

        .dataDiri-info {
            width: 100%;
            height: 100%;
            @include d-flex($direct : column);

            .img-bx {
                width: 200px;
                height: 200px;
                background-color: #eaeaea;
                border-radius: 24px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .dataDiri-info_field {
                margin-top: 50px;
                width: 100%;
                @include d-flex($direct :column, $align:none);

                select{
                    height:72px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    padding-left: 20px;
                    background-color: #eaeaea60;
                    border: 1px solid #ddd;
                    margin-bottom: 20px;
                    outline: none;
                }

                ._field {
                    width: 98%;
                    outline: none;
                    border: none;
                    padding-left: 20px;
                    padding-right: -20px;
                    @include d-flex($justify : center, $direct :column, $align:none);
                    height: 72px;
                    margin-bottom: 20px;
                    background-color: #eaeaea60;
                    border: 1px solid #ddd;

                    label{
                        font-size: 12px;
                        color: $primary-color;
                        opacity: .8;
                        font-weight: $fw-md;
                    }

                    span {
                        margin-top: 6px;
                        font-size: 14px;
                        color: #888;
                    }

                    input{
                        background-color: transparent;
                        width: 100%;
                        padding: 6px 0px;
                        outline :none;
                        border: none;
                    }

                }

                .ChangeBtn {
                    button {
                        outline: none;
                        border: none;
                        padding: 12px 20px;
                        font-size: 14px;
                        font-weight: $fw-semibold;
                        background-color: $primary-color;
                        color: #fff;
                        cursor: pointer;
                        transition: all ease .4s;
                        border-radius: 8px;

                        &:hover {
                            opacity: .8;
                        }

                    }
                }
                

                button {
                    width: 14%;
                    outline: none;
                    border: none;
                    padding: 12px 20px;
                    font-size: 14px;
                    font-weight: $fw-semibold;
                    background-color: $primary-color;
                    color: #fff;
                    cursor: pointer;
                    transition: all ease .4s;
                    border-radius: 8px;

                    &:hover {
                        opacity: .8;
                    }

                }
            }
        }
    }
}

section.history {
    margin-top: 50px;
    margin-bottom: 50px;

    .container-md {
        .history-bx {
            .card-history {
                padding: 32px;
                border: 1px solid #ddd;
                @include d-flex($justify : space-between);
                position: relative;
                margin-bottom: 20px;

                .card-img {
                    width: 20%;

                    img {
                        width: 180px;
                        height: 180px;
                        object-fit: cover;
                    }
                }

                .card-body {
                    width: 78%;

                    .card-body_head {
                        @include d-flex($justify : space-between, $align: top);

                        ._title {
                            margin-bottom: 20px;

                            .date {
                                font-size: 12px;
                                color: #44444480;
                                margin-bottom: 8px;
                            }

                            a {
                                text-decoration: none;
                                font-weight: $fw-semibold;
                                font-size: 18px;
                            }
                        }
                    }

                    .card-body_text {
                        font-size: 12px;
                        text-align: justify;
                        line-height: 22px;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}


.badge{
    font-size: 12px;
    padding: 6px 14px;
    font-weight: $fw-semibold;
    border-radius: 2px;

    &.badge-success{
        background-color: #66eb4530;
        color: #66eb45;
    }
    &.badge-danger{
        background-color: #EB455F30;
        color: #EB455F;
    }
    &.badge-warning{
        background-color: #eb9e4530;
        color: #eb9e45;
    }
}



section.pusatBantuan {
    margin-top: 50px;

    .faQ {
        .card-faq {
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            padding: 14px 0px;

            .faq-toggle {
                width: 100%;
                padding: 20px 20px;
                outline: none;
                @include d-flex($justify : space-between);
                outline: none;
                border: none;
                cursor: pointer;
                font-weight: $fw-semibold;
                color: $primary-color;
                background-color: transparent;

                span {
                    font-size: 18px;
                }

                i {
                    width: 36px;
                    height: 36px;
                    background-color: #EB455F20;
                    font-size: 20px;
                    @include d-flex();
                    border-radius: 8px;
                }
            }

            .faq-content {
                padding: 0px 20px;
                position: relative;
                height: 0;
                overflow: hidden;
                line-height: 24px;
                font-size: 14px;
                text-align: justify;
                transition: all ease .4s;

            }
        }
    }
}


footer {
    display: none;
}

.error_message{
    font-size: 12px;
    width: 100%;
    margin-left: 32px;
    padding: 10px 0px;
    color: $primary-color;
}




@media only screen and (max-width: 992px) {

    .container-sm {
        width: 90%;

        .form-auth {
            width: 80% !important;
            height: 100%;
            @include d-flex(center, center, column);

            .form-head {
                margin-top: 20px;
                h2 {
                    font-size: $fs-4;
                    margin-bottom: 20px;
                    color: $primary-color;
                }
            }

            .form-input {
                .form-input_group {

                    input {
                        width: 86% !important;
                    }
                }

            }
        }
    }

    .faq-toggle{
        span{
            text-align: left !important;
            font-size: 14px !important;
        }
        p{
            font-size: 12px;
        }
    }

    .input-pengaduan-group {
        textarea {
            padding: 24px 0 0 12px !important;
        }
    }

    header {

        .navbar-top {
            .navbar-logo {
                img {
                    width: 110px;
                }
            }

            .navbar-menu {
                display: none;
            }

            .nav-icon {
                .nav-link {
                    &:nth-child(1) {
                        margin-right: 10px;
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }

    main {
        margin-top: 20px;
        margin-bottom: 120px;

        form {
            margin-top: 40px;

            .input-pengaduan-group {
                width: 100%;
                height: 48px;
                background-color: #eaeaea60;
                border: 1px solid #ddd;
                margin-bottom: 20px;
                position: relative;
                @include d-flex();

                input {
                    width: 92% !important;
                    background-color: transparent;
                    height: 100%;
                    border: none;
                    outline: none;
                }

                &.btn {
                    background-color: $primary-color;

                    input {
                        color: #fff;
                        cursor: pointer;
                    }
                }

                &.text-area {
                    height: 90px;
                }

                textarea {
                    width: 90% !important;
                    height: 70% !important;
                    resize: none;
                    border: none;
                    outline: none;
                    padding: 0px !important;
                }

                &._date {
                    label {
                        @include d-flex($justify : space-between);
                        width: 100%;

                        span {
                            margin-left: 20px;
                            font-size: 14px;
                            opacity: .6;
                        }

                        i {
                            margin-right: 20px;
                            font-size: 18px;
                            color: #444;
                        }
                    }
                }
            }
        }
    }

    section.feed-container{
        .container-md{
            width:80%;
            height: 100%;
    
            .card-feed{
                margin-bottom: 40px;
    
                .card-header{
                    .date{
                        font-size: 10px;
                    }
                    .profil{
                        @include d-flex( $justify:none);
                        .profil_info{
                            h4{
                                font-size: 14px;
                            }
                        }
                    }
                }
    
                .feed-img{
                    margin-bottom: 20px;
                    width: 100%;
                    height: 240px;
                    background-color: #eaeaea;
                    @include d-flex();
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .feed-body{
                    font-size: 14px;
                    line-height: 20px;
                    width: 100%;
                    margin:20px  auto;
                    padding-bottom: 20px;
                    text-align: justify;
                    border-bottom: 1px solid #ddd;
    
                }
    
                .feed-tanggapan{
                    width: 100%;
                    margin:20px  auto;
    
                    span{
                        font-size: 14px;
                        b{
                            margin-right: 10px;
                        }
                    }
                    .tanggapan-value{
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: justify;
                    }
    
                }
            }
    
        }
    }

    section.profil-saya {
        .container-md {
            .profil-detail {
                flex-direction: column;
                width: 200px;
                height: 320px;

                .img-profil {
                    margin-top: 32px;
                }

                .profil-detail_txt {
                    margin-right: 0px;
                    text-align: center;
                    margin-bottom: 28px;

                    ._top {
                        span {
                            opacity: .6;
                            font-size: 14px;
                        }

                        h3 {
                            font-size: 18px;
                            margin-top: 4px;
                            color: #444;
                        }
                    }

                    ._bottom {
                        margin-top: 20px;
                        @include d-flex($justify : center);
                        color: $primary-color;

                        .count {
                            font-size: 16px;
                            margin-right: 10px;
                            font-weight: $fw-semibold;
                        }

                        ._info {
                            color: #444;
                        }
                    }
                }

            }
        }
    }

    section.history {
        margin-top: 50px;

        .container-md {
            .history-bx {

                .card-history {
                    flex-direction: column;

                    .card-img {
                        width: 100%;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .card-body {
                        width: 100%;
                        .card-body_head {
                            @include d-flex( $align : left,$direct : column-reverse);
                            
                            ._title {
                                margin-top: 20px;
    
                                .date {
                                    font-size: 12px;
                                    color: #44444480;
                                    margin-bottom: 8px;
                                }
    
                                a {
                                    text-decoration: none;
                                    font-weight: $fw-semibold;
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                }

            }
        }
    }

    section.main-berita {
        margin-top: 40px;
        margin-bottom: 50px;

        .row-berita {
            @include d-flex($justify : space-between);
            flex-wrap: wrap;

            .card-berita {
                width: 320px;
                margin-bottom: 40px;

                .card-img {
                    width: 100%;
                    height: 180px;
                    background-color: #eaeaea;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card-body {
                    padding: 14px 18px;

                    .card-date {
                        font-size: 12px;
                        color: #44444480;
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: $fw-semibold;
                        color: #444;
                        transition: all ease .4s;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .card-slug {
                        margin-top: 10px;
                        line-height: 20px;
                        font-size: 12px;
                        text-align: justify;
                    }
                }
            }

        }

        .detail_berita {
            .img-bx {
                width: 100%;
                height: 240px;
                background-color: #eaeaea;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-body {
                margin-top: 40px;
                padding: 0px 10px;

                p {
                    text-align: justify;
                }
            }
        }
    }

    .detail-bx{
        display: flex;
        flex-direction: column;

        .tanggapan-bx{
            margin-top: 50px;
            width: auto;
        }
    }

    .dataDiri-info_field {
        ._field{
            width: 93% !important;
        }

        button{
            width: 50% !important;
        }
    }

    .alert-cstm{    
        .alert-bx{
            &.alert_success{
                background-color: #45eb4520;
                width: 64%;
                padding: 16px 24px;
                align-items: center;
                justify-content: space-between;
                .alert_close{
                    background-color: #45eb45;
                    color: #fff;
                }
            }
            
            &.alert_danger{
                background-color: #EB455F20;
                width: 64%;
                padding: 16px 24px;
                align-items: center;
                justify-content: space-between;
                .alert_close{
                    background-color: #EB455F;
                    color: #fff;
                }
            }
    
            &.show{
                display: flex;
            }
    
            .alert-msg{
                font-size: 14px;
            }
            .alert_close{
                cursor: pointer;
                @include d-flex();
                width: 32px;
                height: 32px;
                i{
                    font-size: 24px;
                    transform: rotate(45deg);
    
                }
    
            }
        }
    
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 80px;
        z-index: 100;
        background-color: #fdfdfd;
        // background-color: salmon;

        .container-md {
            .navbar-menu {
                @include d-flex(center, space-between);
                width: 100%;
                height: 100%;

                .nav-link {
                    width: 100px;
                    height: 100%;
                    @include d-flex();

                    a {
                        @include d-flex(center, center, column);
                        text-decoration: none;

                        i {
                            margin-top: 8px;
                            font-size: 24px;
                            color: $primary-color;

                        }

                        span {
                            color: #444;
                            margin-top: 8px;
                            font-size: 12px;
                            transition: all ease .4s;

                        }
                    }

                    &:hover {
                        a {
                            span {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

        }
    }

}